# ===== MySQL =====
SQL_DATABASE=geocoder
SQL_USER=your_mysql_username_here
SQL_PASSWORD=your_mysql_password_here
SQL_PORT=3306

# ===== Geocoder API keys =====
YANDEX_API_KEY=your_yandex_api_key_here
DADATA_API_KEY=your_dadata_api_key_here
DADATA_SECRET=your_dadata_secret_here